In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("finance/gold-data/[2010-2020]XAUUSD-M5-NoSession.csv")

In [17]:
df.head()

       Date      Time     Open     High      Low    Close  Volume
0  20100101  00:00:00  1096.09  1096.21  1096.02  1096.07      33
1  20100101  00:05:00  1096.15  1096.17  1095.99  1096.04      18
2  20100101  00:10:00  1096.06  1096.15  1095.99  1096.15      15
3  20100101  00:15:00  1096.07  1096.17  1096.05  1096.17      15
4  20100101  00:20:00  1096.08  1096.20  1096.05  1096.15      15

In [23]:
# Converting Date format
df["Date"] = pd.to_datetime(df["Date"], format='%Y%m%d')
df

             Date      Time     Open     High      Low    Close  Volume
0      2010-01-01  00:00:00  1096.09  1096.21  1096.02  1096.07      33
1      2010-01-01  00:05:00  1096.15  1096.17  1095.99  1096.04      18
2      2010-01-01  00:10:00  1096.06  1096.15  1095.99  1096.15      15
3      2010-01-01  00:15:00  1096.07  1096.17  1096.05  1096.17      15
4      2010-01-01  00:20:00  1096.08  1096.20  1096.05  1096.15      15
...           ...       ...      ...      ...      ...      ...     ...
715175 2020-01-01  23:35:00  1519.30  1519.52  1518.77  1519.28     124
715176 2020-01-01  23:40:00  1519.29  1519.61  1519.11  1519.33     195
715177 2020-01-01  23:45:00  1519.33  1519.33  1518.41  1518.59     200
715178 2020-01-01  23:50:00  1518.58  1518.80  1518.48  1518.63     202
715179 2020-01-01  23:55:00  1518.63  1518.70  1518.08  1518.29     231

[715180 rows x 7 columns]

In [37]:
# Combining Date and Time columns and set it as index
datetime = pd.to_datetime(df["Date"].astype(str) + " " + df["Time"])
df.insert(0, "DateTime", datetime)
df.pop("Date")
df.pop("Time")
df = df.set_index(['Datetime'])
df

                  DateTime     Open     High      Low    Close  Volume
0      2010-01-01 00:00:00  1096.09  1096.21  1096.02  1096.07      33
1      2010-01-01 00:05:00  1096.15  1096.17  1095.99  1096.04      18
2      2010-01-01 00:10:00  1096.06  1096.15  1095.99  1096.15      15
3      2010-01-01 00:15:00  1096.07  1096.17  1096.05  1096.17      15
4      2010-01-01 00:20:00  1096.08  1096.20  1096.05  1096.15      15
...                    ...      ...      ...      ...      ...     ...
715175 2020-01-01 23:35:00  1519.30  1519.52  1518.77  1519.28     124
715176 2020-01-01 23:40:00  1519.29  1519.61  1519.11  1519.33     195
715177 2020-01-01 23:45:00  1519.33  1519.33  1518.41  1518.59     200
715178 2020-01-01 23:50:00  1518.58  1518.80  1518.48  1518.63     202
715179 2020-01-01 23:55:00  1518.63  1518.70  1518.08  1518.29     231

[715180 rows x 6 columns]

In [52]:
def Ichimoku(df):

  # Tenkan
  hi_in_9 = df["high"].rolling(window=9, min_periods=0).max()
  low_in_9 = df["low"].rolling(window=9, min_periods=0).min()
  df["Tenkan"] = (hi_in_9 + low_in_9) / 2

  # Kijun
  hi_in_26 = df["high"].rolling(window=26, min_periods=0).max()
  low_in_26 = df["low"].rolling(window=26, min_periods=0).min()
  df["kijuen"] = (hi_in_26 + low_in_26) / 2

  # Senkou Span A
  df["Senkou Span A"] = ((df["tenkan"]+df["kijuen"]) / 2)

  # Senkou Span B
  hi_in_52 = df["high"].rolling(window=52, min_periods=0).max()
  low_in_52 = df["low"].rolling(window=52, min_periods=0).min()
  df["senkou B"] = ((low_in_52 + hi_in_52) / 2)

Timestamp('2011-09-06 06:25:00')