In [28]:
import pandas as pd

# Import Data & Manipulate Data

In [29]:
df_org = pd.read_csv("[2010-2020]XAUUSD-M5-NoSession.csv")
df_org.info() , df_org

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715180 entries, 0 to 715179
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DateTime  715180 non-null  object
 1   Open      715180 non-null  float64
 2   High      715180 non-null  float64
 3   Low       715180 non-null  float64
 4   Close     715180 non-null  float64
 5   Volume    715180 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 32.7+ MB

(None,
                    DateTime     Open     High      Low    Close  Volume
 0       2010-01-01 00:00:00  1096.09  1096.21  1096.02  1096.07      33
 1       2010-01-01 00:05:00  1096.15  1096.17  1095.99  1096.04      18
 2       2010-01-01 00:10:00  1096.06  1096.15  1095.99  1096.15      15
 3       2010-01-01 00:15:00  1096.07  1096.17  1096.05  1096.17      15
 4       2010-01-01 00:20:00  1096.08  1096.20  1096.05  1096.15      15
 ...                     ...      ...      ...      ...      ...     ...
 715175  2020-01-01 23:35:00  1519.30  1519.52  1518.77  1519.28     124
 715176  2020-01-01 23:40:00  1519.29  1519.61  1519.11  1519.33     195
 715177  2020-01-01 23:45:00  1519.33  1519.33  1518.41  1518.59     200
 715178  2020-01-01 23:50:00  1518.58  1518.80  1518.48  1518.63     202
 715179  2020-01-01 23:55:00  1518.63  1518.70  1518.08  1518.29     231

 [715180 rows x 6 columns])

### Convert DateTime Column From object to DateTime

In [30]:
df_org["DateTime"] = pd.to_datetime(df_org["DateTime"])
df_org, df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715180 entries, 0 to 715179
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DateTime  715180 non-null  datetime64[ns]
 1   Open      715180 non-null  float64
 2   High      715180 non-null  float64
 3   Low       715180 non-null  float64
 4   Close     715180 non-null  float64
 5   Volume    715180 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 32.7 MB

(                  DateTime     Open     High      Low    Close  Volume
 0      2010-01-01 00:00:00  1096.09  1096.21  1096.02  1096.07      33
 1      2010-01-01 00:05:00  1096.15  1096.17  1095.99  1096.04      18
 2      2010-01-01 00:10:00  1096.06  1096.15  1095.99  1096.15      15
 3      2010-01-01 00:15:00  1096.07  1096.17  1096.05  1096.17      15
 4      2010-01-01 00:20:00  1096.08  1096.20  1096.05  1096.15      15
 ...                    ...      ...      ...      ...      ...     ...
 715175 2020-01-01 23:35:00  1519.30  1519.52  1518.77  1519.28     124
 715176 2020-01-01 23:40:00  1519.29  1519.61  1519.11  1519.33     195
 715177 2020-01-01 23:45:00  1519.33  1519.33  1518.41  1518.59     200
 715178 2020-01-01 23:50:00  1518.58  1518.80  1518.48  1518.63     202
 715179 2020-01-01 23:55:00  1518.63  1518.70  1518.08  1518.29     231

 [715180 rows x 6 columns],
 None)

### Select Columns

In [31]:
df = df_org[["DateTime", "Open", "High", "Low", "Close"]]

### Set DateTime as Index and sort by inedx

In [32]:
df = df.set_index("DateTime")
df = df.sort_index()
df

                        Open     High      Low    Close
DateTime
2010-01-01 00:00:00  1096.09  1096.21  1096.02  1096.07
2010-01-01 00:05:00  1096.15  1096.17  1095.99  1096.04
2010-01-01 00:10:00  1096.06  1096.15  1095.99  1096.15
2010-01-01 00:15:00  1096.07  1096.17  1096.05  1096.17
2010-01-01 00:20:00  1096.08  1096.20  1096.05  1096.15
...                      ...      ...      ...      ...
2020-01-01 23:35:00  1519.30  1519.52  1518.77  1519.28
2020-01-01 23:40:00  1519.29  1519.61  1519.11  1519.33
2020-01-01 23:45:00  1519.33  1519.33  1518.41  1518.59
2020-01-01 23:50:00  1518.58  1518.80  1518.48  1518.63
2020-01-01 23:55:00  1518.63  1518.70  1518.08  1518.29

[715180 rows x 4 columns]

# Feature Engineering

## Adding base Ichimoku-KinkoHyo

#### Norm means : current time frame
#### adv mean : multi time looking at current timeframe

## Current norm timeframe:

In [33]:
# first calculate tenkan

hi_in_9 = df["High"].rolling(window=9, min_periods=0).max()
low_in_9 = df["Low"].rolling(window=9, min_periods=0).min()
df["Tk_norm"] = (hi_in_9 + low_in_9) / 2

# second calculate kijuen

hi_in_26 = df["High"].rolling(window=26, min_periods=0).max()
low_in_26 = df["Low"].rolling(window=26, min_periods=0).min()
df["Kj_norm"] = (hi_in_26 + low_in_26) / 2

# third calculate senkou A

df["S_A_norm"] = ((df["Tk_norm"]+df["Kj_norm"]) / 2)

# fourth calculate senkou B

hi_in_52 = df["High"].rolling(window=52, min_periods=0).max()
low_in_52 = df["Low"].rolling(window=52, min_periods=0).min()
df["S_B_norm"] = ((low_in_52 + hi_in_52) / 2)

# fifth calculate chiko

# Chiko can't be added (dataleakage problem)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm
DateTime,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100
...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875

### Adding Current timeframe Features :

In [34]:
# first calculate advanced tenkan

df["Tk_adv"] = df["Tk_norm"].shift(26)

# second calculate advanced kijuen

df["Kj_adv"] = df["Kj_norm"].shift(26)

# third calculate advanced senkou A

df["S_A_adv"] = df["S_A_norm"].shift(26)

# fourth calculate advanced senkou B

df["S_B_adv"] = df["S_B_norm"].shift(26)

# fifth calculate advanced chiko

df["Chiko_adv"] = df["Close"].shift(26)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,S_A_adv,S_B_adv,Chiko_adv
DateTime,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,1519.4900,1520.495,1518.49
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,1519.3925,1520.495,1518.50
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,1519.3200,1520.425,1518.05
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,1519.0950,1520.290,1517.75
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,1518.9300,1520.125,1517.39

## Adding Extra timeframes

#### 2X mean : double Timeframe
#### 3x mean : triple Timeframe
#### 4x mean : quadruple Timeframe

## 2X norm timeframe :

In [35]:
# first calculate tenkan

hi_in_18 = df["High"].rolling(window=18, min_periods=0).max()
low_in_18 = df["Low"].rolling(window=18, min_periods=0).min()
df["Tk_norm_x2"] = (hi_in_18 + low_in_18) / 2

# second calculate kijuen
# skip this : 
# because it's calculated in previous section as s_b_norm

#hi_in_52 = df["High"].rolling(window=52, min_periods=0).max()
#low_in_52 = df["Low"].rolling(window=52, min_periods=0).min()
#df["Kj_norm_x2"] = (hi_in_52 + low_in_52) / 2

# third calculate senkou A

df["S_A_norm_x2"] = ((df["Tk_norm_x2"]+df["S_B_norm"]) / 2)

# fourth calculate senkou B

hi_in_104 = df["High"].rolling(window=104, min_periods=0).max()
low_in_104 = df["Low"].rolling(window=104, min_periods=0).min()
df["S_B_norm_x2"] = ((low_in_104 + hi_in_104) / 2)

# fifth calculate chiko

# Chiko can't be added (dataleakage problem)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,S_A_adv,S_B_adv,Chiko_adv,Tk_norm_x2,S_A_norm_x2,S_B_norm_x2
DateTime,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,NaN,NaN,NaN,1096.115,1096.115,1096.115
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.100,1096.100
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.100,1096.100
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.100,1096.100
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.100,1096.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,1519.4900,1520.495,1518.49,1518.875,1518.915,1520.660
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,1519.3925,1520.495,1518.50,1518.875,1518.875,1520.660
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,1519.3200,1520.425,1518.05,1518.875,1518.875,1520.660
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,1519.0950,1520.290,1517.75,1518.875,1518.875,1520.660
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,1518.9300,1520.125,1517.39,1518.875,1518.875,1520.660

## Adding 2X timeframe features:

In [36]:
# first calculate tenkan

df["Tk_adv_x2"] = df["Tk_norm_x2"].shift(52)

# second calculate kijuen

df["Kj_adv_x2"] = df["S_B_norm"].shift(52)

# third calculate senkou A

df["S_A_adv_x2"] = df["S_A_norm_x2"].shift(52)

# fourth calculate senkou B

df["S_B_adv_x2"] = df["S_B_norm_x2"].shift(52)

# fifth calculate chiko

df["Chiko_adv_x2"] = df["Close"].shift(52)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,...,S_B_adv,Chiko_adv,Tk_norm_x2,S_A_norm_x2,S_B_norm_x2,Tk_adv_x2,Kj_adv_x2,S_A_adv_x2,S_B_adv_x2,Chiko_adv_x2
DateTime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,...,NaN,NaN,1096.115,1096.115,1096.115,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,...,1520.495,1518.49,1518.875,1518.915,1520.660,1521.945,1520.66,1521.3025,1520.66,1521.16
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,...,1520.495,1518.50,1518.875,1518.875,1520.660,1521.680,1520.66,1521.1700,1520.66,1520.80
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,...,1520.425,1518.05,1518.875,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1520.23
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,...,1520.290,1517.75,1518.875,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1519.70
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,...,1520.125,1517.39,1518.875,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1520.20

## 3X norm timeframe:

In [37]:
# first calculate tenkan
# skip this : 
# because it's calculated in previous section as Kj_norm

#hi_in_27 = df["High"].rolling(window=27, min_periods=0).max()
#low_in_27 = df["Low"].rolling(window=27, min_periods=0).min()
#df["Tk_norm_x3"] = (hi_in_27 + low_in_27) / 2

# second calculate kijuen


hi_in_78 = df["High"].rolling(window=78, min_periods=0).max()
low_in_78 = df["Low"].rolling(window=78, min_periods=0).min()
df["Kj_norm_x3"] = (hi_in_78 + low_in_78) / 2

# third calculate senkou A

df["S_A_norm_x3"] = ((df["Kj_norm_x3"]+df["Kj_norm"]) / 2)

# fourth calculate senkou B

hi_in_156 = df["High"].rolling(window=156, min_periods=0).max()
low_in_156 = df["Low"].rolling(window=156, min_periods=0).min()
df["S_B_norm_x3"] = ((low_in_156 + hi_in_156) / 2)

# fifth calculate chiko

# Chiko can't be added (dataleakage problem)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,...,S_A_norm_x2,S_B_norm_x2,Tk_adv_x2,Kj_adv_x2,S_A_adv_x2,S_B_adv_x2,Chiko_adv_x2,Kj_norm_x3,S_A_norm_x3,S_B_norm_x3
DateTime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,...,1096.115,1096.115,NaN,NaN,NaN,NaN,NaN,1096.115,1096.1150,1096.115
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.100,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,...,1518.915,1520.660,1521.945,1520.66,1521.3025,1520.66,1521.16,1519.770,1519.3225,1520.660
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,...,1518.875,1520.660,1521.680,1520.66,1521.1700,1520.66,1520.80,1519.770,1519.3225,1520.660
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,...,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1520.23,1519.770,1519.3225,1520.660
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,...,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1519.70,1519.770,1519.3225,1520.660
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,...,1518.875,1520.660,1521.080,1520.66,1520.8700,1520.66,1520.20,1519.770,1519.3225,1520.660

## Adding 3X timeframe features:

In [38]:
# first calculate tenkan

df["Tk_adv_x3"] = df["Kj_norm"].shift(78)

# second calculate kijuen

df["Kj_adv_x3"] = df["Kj_norm_x3"].shift(78)

# third calculate senkou A

df["S_A_adv_x3"] = df["S_A_norm_x3"].shift(78)

# fourth calculate senkou B

df["S_B_adv_x3"] = df["S_B_norm_x3"].shift(78)

# fifth calculate chiko

df["Chiko_adv_x3"] = df["Close"].shift(78)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,...,S_B_adv_x2,Chiko_adv_x2,Kj_norm_x3,S_A_norm_x3,S_B_norm_x3,Tk_adv_x3,Kj_adv_x3,S_A_adv_x3,S_B_adv_x3,Chiko_adv_x3
DateTime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,...,NaN,NaN,1096.115,1096.1150,1096.115,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,...,1520.66,1521.16,1519.770,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1521.20
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,...,1520.66,1520.80,1519.770,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.33
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,...,1520.66,1520.23,1519.770,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.86
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,...,1520.66,1519.70,1519.770,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.61
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,...,1520.66,1520.20,1519.770,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1521.15

## 4X norm timeframe:

In [39]:
# first calculate tenkan

hi_in_36 = df["High"].rolling(window=36, min_periods=0).max()
low_in_36 = df["Low"].rolling(window=36, min_periods=0).min()
df["Tk_norm_x4"] = (hi_in_36 + low_in_36) / 2

# second calculate kijuen
# skip this : 
# because it's calculated in previous section as s_b_norm_x2

#hi_in_104 = df["High"].rolling(window=104, min_periods=0).max()
#low_in_104 = df["Low"].rolling(window=104, min_periods=0).min()
#df["Kj_norm_x4"] = (hi_in_104 + low_in_104) / 2

# third calculate senkou A

df["S_A_norm_x4"] = ((df["Tk_norm_x4"]+df["S_B_norm_x2"]) / 2)

# fourth calculate senkou B

hi_in_208 = df["High"].rolling(window=208, min_periods=0).max()
low_in_208 = df["Low"].rolling(window=208, min_periods=0).min()
df["S_B_norm_x4"] = ((low_in_208 + hi_in_208) / 2)

# fifth calculate chiko

# Chiko can't be added (dataleakage problem)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,...,S_A_norm_x3,S_B_norm_x3,Tk_adv_x3,Kj_adv_x3,S_A_adv_x3,S_B_adv_x3,Chiko_adv_x3,Tk_norm_x4,S_A_norm_x4,S_B_norm_x4
DateTime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,...,1096.1150,1096.115,NaN,NaN,NaN,NaN,NaN,1096.115,1096.1150,1096.115
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN,1096.100,1096.1000,1096.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,...,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1521.20,1518.875,1519.7675,1520.875
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,...,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.33,1518.875,1519.7675,1520.875
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,...,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.86,1518.875,1519.7675,1520.875
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,...,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1520.61,1518.875,1519.7675,1520.875
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,...,1519.3225,1520.660,1520.66,1520.66,1520.66,1520.875,1521.15,1518.875,1519.7675,1520.875

## Adding 4X timeframe features:

In [40]:
# first calculate tenkan

df["Tk_adv_x4"] = df["Tk_norm_x4"].shift(104)

# second calculate kijuen

df["Kj_adv_x4"] = df["S_B_norm_x2"].shift(104)

# third calculate senkou A

df["S_A_adv_x4"] = df["S_A_norm_x4"].shift(104)

# fourth calculate senkou B

df["S_B_adv_x4"] = df["S_B_norm_x4"].shift(104)

# fifth calculate chiko

df["Chiko_adv_x4"] = df["Close"].shift(104)

df

,Open,High,Low,Close,Tk_norm,Kj_norm,S_A_norm,S_B_norm,Tk_adv,Kj_adv,...,S_B_adv_x3,Chiko_adv_x3,Tk_norm_x4,S_A_norm_x4,S_B_norm_x4,Tk_adv_x4,Kj_adv_x4,S_A_adv_x4,S_B_adv_x4,Chiko_adv_x4
DateTime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1096.09,1096.21,1096.02,1096.07,1096.115,1096.115,1096.1150,1096.115,NaN,NaN,...,NaN,NaN,1096.115,1096.1150,1096.115,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:05:00,1096.15,1096.17,1095.99,1096.04,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:10:00,1096.06,1096.15,1095.99,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:15:00,1096.07,1096.17,1096.05,1096.17,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:20:00,1096.08,1096.20,1096.05,1096.15,1096.100,1096.100,1096.1000,1096.100,NaN,NaN,...,NaN,NaN,1096.100,1096.1000,1096.100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 23:35:00,1519.30,1519.52,1518.77,1519.28,1518.875,1518.875,1518.8750,1518.955,1519.300,1519.680,...,1520.875,1521.20,1518.875,1519.7675,1520.875,1521.975,1522.515,1522.245,1519.825,1520.74
2020-01-01 23:40:00,1519.29,1519.61,1519.11,1519.33,1519.920,1518.875,1519.3975,1518.875,1519.300,1519.485,...,1520.875,1520.33,1518.875,1519.7675,1520.875,1521.975,1522.515,1522.245,1519.825,1521.98
2020-01-01 23:45:00,1519.33,1519.33,1518.41,1518.59,1519.740,1518.875,1519.3075,1518.875,1519.225,1519.415,...,1520.875,1520.86,1518.875,1519.7675,1520.875,1521.975,1522.515,1522.245,1519.825,1522.21
2020-01-01 23:50:00,1518.58,1518.80,1518.48,1518.63,1519.590,1518.875,1519.2325,1518.875,1518.910,1519.280,...,1520.875,1520.61,1518.875,1519.7675,1520.875,1521.975,1522.515,1522.245,1519.825,1522.91
2020-01-01 23:55:00,1518.63,1518.70,1518.08,1518.29,1519.185,1518.875,1519.0300,1518.875,1518.745,1519.115,...,1520.875,1521.15,1518.875,1519.7675,1520.875,1521.975,1522.515,1522.245,1519.825,1522.41

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 715180 entries, 2010-01-01 00:00:00 to 2020-01-01 23:55:00
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Open          715180 non-null  float64
 1   High          715180 non-null  float64
 2   Low           715180 non-null  float64
 3   Close         715180 non-null  float64
 4   Tk_norm       715180 non-null  float64
 5   Kj_norm       715180 non-null  float64
 6   S_A_norm      715180 non-null  float64
 7   S_B_norm      715180 non-null  float64
 8   Tk_adv        715154 non-null  float64
 9   Kj_adv        715154 non-null  float64
 10  S_A_adv       715154 non-null  float64
 11  S_B_adv       715154 non-null  float64
 12  Chiko_adv     715154 non-null  float64
 13  Tk_norm_x2    715180 non-null  float64
 14  S_A_norm_x2   715180 non-null  float64
 15  S_B_norm_x2   715180 non-null  float64
 16  Tk_adv_x2     715128 non-null  float64
 17  Kj_adv_x2     715128 non-null  float64
 18  S_A_adv_x2    715128 non-null  float64
 19  S_B_adv_x2    715128 non-null  float64
 20  Chiko_adv_x2  715128 non-null  float64
 21  Kj_norm_x3    715180 non-null  float64
 22  S_A_norm_x3   715180 non-null  float64
 23  S_B_norm_x3   715180 non-null  float64
 24  Tk_adv_x3     715102 non-null  float64
 25  Kj_adv_x3     715102 non-null  float64
 26  S_A_adv_x3    715102 non-null  float64
 27  S_B_adv_x3    715102 non-null  float64
 28  Chiko_adv_x3  715102 non-null  float64
 29  Tk_norm_x4    715180 non-null  float64
 30  S_A_norm_x4   715180 non-null  float64
 31  S_B_norm_x4   715180 non-null  float64
 32  Tk_adv_x4     715076 non-null  float64
 33  Kj_adv_x4     715076 non-null  float64
 34  S_A_adv_x4    715076 non-null  float64
 35  S_B_adv_x4    715076 non-null  float64
 36  Chiko_adv_x4  715076 non-null  float64
dtypes: float64(37)
memory usage: 207.3 MB

# Calculate TK & KJ - S_A & S_B Positions

### No. 0 For Down Trend
### No. 1 For Up Trend

# Shift All Columns values for better performance

In [42]:
columnss = list(df.columns)
columnss = columnss[4:]
for col_name in columnss:
    df[col_name] = df[col_name].shift(1)
df